# Variables de entorno - NUNCA subir al repo
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Vercel
.vercel

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# QR generados
static/images/qr_*.png
