{% extends "base.html" %}

{% block title %}
Iniciar sesión | AutoMenu AI
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6 col-lg-5">

        <div class="card shadow-lg border-0 rounded-4"> #hace que parezca una aplicación moderna y esquinas redondeadas con el rounded-4 

            <div class="card-body p-5"> #nos hace toda la tarjeta

                <h2 class="text-center mb-4">
                    Iniciar sesión
                </h2>

                <p class="text-center text-muted mb-4">
                    Bienvenido nuevamente a AutoMenu AI.
                </p>

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Correo electrónico
                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="ejemplo@correo.com"
                            required>

                    </div>

                    <div class="mb-4">

                        <label class="form-label">
                            Contraseña
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="********"
                            required>#el required hace que el navegador valide automáticamente sin tener que escriibir python todavía

                    </div>

                    <div class="d-grid"> #hace que el boton ocupe todo el ancho de la tarjeta

                        <button
                            type="submit"
                            class="btn btn-success btn-lg">

                            Iniciar sesión

                        </button>

                    </div>

                </form>

                <hr>

                <p class="text-center mb-0">

                    ¿No tenés una cuenta?

                    <a href="/register">
                        Registrate aquí
                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}