{% extends "base.html" %}

{% block title %}
Código QR
{% endblock %}

{% block content %}

<div class="container py-5 text-center">

    <h1 class="mb-4">
        Código QR del menú
    </h1>

    <p class="text-muted">
        Los clientes pueden escanear este código QR para acceder a su menú público.
    </p>

    <p class="text-muted mt-3">

Print this QR code or place it on your restaurant tables so customers can access your digital menu instantly.

</p>
    <img
        src="{{ url_for('generate_qr', slug=restaurante.slug) }}"
        class="img-fluid shadow rounded"
        style="max-width:300px; width:100%;">

</div>
<div class="mt-4">

    <a
        href="{{ url_for('generate_qr', slug=restaurante.slug) }}"
        download="menu-qr.png"
        class="btn btn-success">

        Download QR Code

    </a>

</div>
{% endblock %}